body{
    padding: 10px;
}


#accel{
    text-align:center;
}

#photo{
    margin-top: 30px;
}

#zone-photo{
    display: none;
    text-align: center;
}

#zone-photo img{
    margin-top:20px;
    width:80%;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

#toast{
    text-align:center;
    margin-top:30px;
}

#gmaps{
    margin-top:30px;
    text-align: center;
}


#gmaps #map{
    height: 400px;
}

#store{
    margin-top: 30px;
    text-align: center;
}

#store textarea{
    width:100%;
}